* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #3d64e6;
}
.container {
  background-color: #fff;
  width: 80vw;
  max-width: 37.5rem;
  padding: 3rem 2.5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.62rem;
  box-shadow: 0 1.25rem 1.8rem rgba(8, 21, 65, 0.25);
}

.search-wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25rem;
}

.search-wrapper button {
  font-size: 1rem;
  background-color: #3d64e6;
  color: #fff;
  padding: 0.8rem 0;
  border: none;
  border-radius: 1.5rem;
}

.search-wrapper input {
  font-size: 1rem;
  padding: 0 0.62em;
  border: none;
  border-bottom: 2px solid #3d64e6;
  outline: none;
  color: #222a43;
}

#result {
  margin-top: 1.2rem;
}
#result .flag-img {
  display: block;
  width: 45%;
  min-width: 7.5rem;
  margin: 1.8rem auto 1.2rem auto;
}
#result h2 {
  font-weight: 600;
  color: #222a43;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8rem;
  text-align: center;
}
.data-wrapper {
  margin-bottom: 1rem;
  letter-spacing: 0.3px;
}
.data-wrapper h4 {
  display: inline;
  font-weight: 500;
  color: #222a43;
}

.data-wrapper span {
  color: #5d6274;
}
