* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif; 
  min-height: 100vh;
  background-image: url(../background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start keys */

.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51,0.5);
  width: 120px;
  height: 120px;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.container .btn kbd {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
}
.container .btn h3 {
  color: rgb(190, 190, 49);
  font-size: 1rem;
}
.active {
  transform: scale(1.1);
  border: 1px solid rgb(190, 190, 49);
  box-shadow: 0 0 10px rgb(190, 190, 49); 
  background-color: rgba(51, 51, 51, 0.8);
}